---
import ArchivePanel from "@components/ArchivePanel.svelte";
import Heatmap from "@components/widget/Heatmap.svelte";
import MainGridLayout from "@layouts/MainGridLayout.astro";
import postWordsRaw from "../data/post-words.json";
import { getSortedPostsList } from "../utils/content-utils";

const sortedPostsList = await getSortedPostsList();
const postWords = postWordsRaw as { date: string; words: number }[];
---

<MainGridLayout title="旧简">
  <section class="archive-heatmap">
    <Heatmap entries={postWords} client:only="svelte" cell={9} gap={2} />
  </section>

  <ArchivePanel sortedPosts={sortedPostsList} client:only="svelte" />
</MainGridLayout>

<style>
  .archive-heatmap {
    margin-bottom: 20px;
    display: none;
  }
  @media (min-width: 768px) {
    .archive-heatmap {
      display: block;
    }
  }
</style>
