---
import ArchivePanel from "@components/ArchivePanel.svelte";
import Heatmap from "@components/widget/Heatmap.svelte";
import I18nKey from "@i18n/i18nKey";
import { i18n } from "@i18n/translation";
import MainGridLayout from "@layouts/MainGridLayout.astro";
import { getSortedPostsList } from "../utils/content-utils";
import postWordsRaw from "../data/post-words.json";

const sortedPostsList = await getSortedPostsList();
const postWords: { date: string; words: number }[] = postWordsRaw as any;
---

<MainGridLayout title={i18n(I18nKey.archive)}>
  <section class="archive-heatmap">
    <Heatmap entries={postWords} client:only="svelte" cell={9} gap={2} />
  </section>

  <ArchivePanel sortedPosts={sortedPostsList} client:only="svelte" />
</MainGridLayout>

<style>
  .archive-heatmap {
    margin-bottom: 20px;
    display: none;
  }
  @media (min-width: 768px) {
    .archive-heatmap {
      display: block;
    }
  }
</style>
