---
import LikeButton from "@components/misc/LikeButton.svelte";
import PageIntroCard from "@components/PageIntroCard.astro";
import Twikoo from "@components/misc/Twikoo.astro";
import MainGridLayout from "@layouts/MainGridLayout.astro";
import { pageIntros } from "../data/page-intros";

const intro = pageIntros.guestbook;
---

<MainGridLayout title={intro.title} description={intro.paragraphs[0]}>
    <div class="flex flex-col gap-4">
        <!-- 介绍卡片 -->
        <PageIntroCard intro={intro} />

        <!-- 内容卡片：点赞 + 评论 -->
        <section class="card-base px-4 md:px-9 py-6 onload-animation">
            <LikeButton client:load />
            <div class="my-8 border-t border-[var(--line-divider)]"></div>
            <Twikoo class="onload-animation" path="/guestbook/"></Twikoo>
        </section>
    </div>
</MainGridLayout>
